.destination-node__button {
  justify-self: end;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  background: transparent;
}

.destination-node__speaker {
  fill: var(--color-blue);
}

.destination-node__speaker_mute {
  fill: var(--color-grey);
}
