.destination-node {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(var(--u) * 45);
  height: calc(var(--u) * 25);

  padding-right: calc(var(--u) * 4);

  border-radius: calc(var(--u) * 3);

  background-color: var(--color-white);

  box-shadow: var(--node-box-shadow);
}

.destination-node__label {
  position: absolute;
  top: calc(-18px - 12px);
  left: 50%;
  transform: translateX(-50%);

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.destination-node__sound-channels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(var(--u) * 15);
  height: calc(var(--u) * 15);

  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.destination-node__sound-channel-wrapper {
  padding-left: calc(var(--u) * 4);
}

.destination-node__sound-channel {
  width: 18px;
  height: calc(var(--u) * 5);
  border-radius: 5px;
  background-color: var(--color-blue);
}

.destination-node__sound-channel.left {
  top: 30px;
  left: -9px;
}

.destination-node__sound-channel.right {
  top: 70px;
  left: -9px;
}

.destination-node__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(var(--u) * 21);
  height: calc(var(--u) * 9);

  border: none;
  border-radius: calc(var(--u) * 3);

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  color: var(--color-white);

  box-shadow: var(--node-box-shadow);

  cursor: pointer;

  transition: linear 75ms;
  transition-property: transform;
}

.destination-node__button:hover {
  transform-origin: center;
  transform: scale(1.05);
}

.destination-node__button.on {
  background-color: var(--color-green);
}

.destination-node__button.off {
  background-color: var(--color-orange);
}
