.noise-processor-node {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(var(--u) * 55);
  height: calc(var(--u) * 25);

  padding-left: calc(var(--u) * 3);

  border: 2px solid transparent;
  border-radius: calc(var(--u) * 3);

  background-color: var(--color-white);

  box-shadow: var(--node-box-shadow);

  transition: 150ms linear;
  transition-property: border-color;
}

.noise-processor-node_white {
  border-color: var(--color-white);
}

.noise-processor-node_pink {
  border-color: var(--color-pink);
}

.noise-processor-node_brown {
  border-color: var(--color-brown);
}

.noise-processor-node__label {
  position: absolute;
  top: calc(-18px - 12px);
  left: 50%;
  transform: translateX(-50%);

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.noise-processor-node__noise-options {
  display: flex;
  gap: 6px;
}

.noise-processor-node__noise-option {
  display: flex;

  width: calc(var(--u) * 10);
  height: calc(var(--u) * 6);

  border: 2px solid transparent;
  border-radius: calc(var(--u) * 1.5);

  cursor: pointer;

  transition: 150ms linear;
  transition-property: border-color, transform;
}

.noise-processor-node__noise-option:hover {
  transform: scale(1.05);
}

.noise-processor-node__noise-option:hover {
  border-color: var(--color-blue);
}

.noise-processor-node__noise-option_white {
  border: 2px solid var(--color-grey_200);
  background-color: var(--color-white);
}

.noise-processor-node__noise-option_pink {
  background-color: var(--color-pink);
}

.noise-processor-node__noise-option_brown {
  background-color: var(--color-brown);
}

.noise-processor-node__sound-channels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(var(--u) * 15);
  height: calc(var(--u) * 15);

  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}
