.number-input {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;
  border-radius: 6px;

  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.number-input:focus {
  font-weight: 600;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
