.volume-warning {
  display: block;
  width: 600px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 135%;
}

.volume-warning__accent-word {
  color: var(--color-blue);
}
