.node {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: fit-content;
  height: fit-content;
  padding: calc(var(--u) * 5) calc(var(--u) * 3);

  border: none;
  border-radius: calc(var(--u) * 3);

  background-color: var(--color-white);
  box-shadow: 3px 6px 10px 1px rgba(191, 191, 191, 0.25);
}

.node__left-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--u) * 6);
}

.node__label {
  --label-font-size: 18px;
  --label-offset: 12px;

  position: absolute;
  top: calc((var(--label-font-size) + var(--label-offset)) * -1);

  font-weight: bold;
  font-size: var(--label-font-size);
  line-height: var(--label-font-size);
}
