.noise-module {
  border: 2px solid transparent;
  transition: 150ms linear;
  transition-property: border-color;
}

.noise-module_white {
  border-color: var(--color-white);
}

.noise-module_pink {
  border-color: var(--color-pink);
}

.noise-module_brown {
  border-color: var(--color-brown);
}

.noise-module__noise-options {
  display: flex;
  align-items: center;
  gap: calc(var(--u) * 1.5);
}

.noise-module__noise-option {
  display: flex;

  width: calc(var(--u) * 10);
  height: calc(var(--u) * 6);

  border: 2px solid transparent;
  border-radius: calc(var(--u) * 1.5);

  cursor: pointer;

  transition: 150ms linear;
  transition-property: border-color, transform;
}

.noise-module__noise-option:hover {
  transform: scale(1.05);
}

.noise-module__noise-option:hover {
  border-color: var(--color-blue);
}

.noise-module__noise-option_white {
  border: 2px solid var(--color-grey_200);
  background-color: var(--color-white);
}

.noise-module__noise-option_pink {
  background-color: var(--color-pink);
}

.noise-module__noise-option_brown {
  background-color: var(--color-brown);
}
