.selector-controller {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--u);

  width: fit-content;
  height: fit-content;

  padding: calc(var(--u) * 2) calc(var(--u) * 2) calc(var(--u) * 2) calc(var(--u));
  border-radius: calc(var(--u) * 3);

  background-color: var(--color-white);
  box-shadow: var(--node-box-shadow);
}

.selector-controller__arrow {
  color: var(--color-blue);
}
