.selector-controller-menu {
  position: absolute;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--u));

  width: fit-content;
  height: fit-content;

  padding: calc(var(--u) * 2) calc(var(--u) * 2) calc(var(--u) * 2) calc(var(--u) / 2);
  border-radius: calc(var(--u) * 3);

  background-color: var(--color-white);
  box-shadow: var(--node-box-shadow);
}

.selector-controller-menu__option {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(var(--u) * 10);
  height: calc(var(--u) * 6);

  border: 1px solid var(--color-blue);
  border-radius: calc(var(--u) * 1.5);

  background-color: transparent;
  cursor: pointer;
}

.selector-controller-menu__arrow {
  color: var(--color-blue);
}
