@import './style-guide/colors.css';
@import './style-guide/units.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  display: grid;
  min-width: 100%;
  min-height: 100%;

  font-family: SF Mono, monospace;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;
  background-color: var(--color-grey);
}

#root {
  width: 100%;
  height: 100%;
}
