@import './style-guide/colors.css';
@import './style-guide/units.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  display: grid;
}

body {
  display: grid;
  margin: 0;
  background-color: var(--color-grey);
}
