@import './style-guide/colors.css';
@import './style-guide/shadows.css';
@import './style-guide/units.css';

*, *::before, *::after {
  box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

html {
  display: grid;
  min-width: 100%;
  min-height: 100%;

  font-family: SF Mono, monospace;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;
  background-color: var(--color-grey_100);
}

#root {
  width: 100%;
  height: 100%;
}
