.node-input {
  display: flex;
  align-items: center;
  gap: var(--u);
}

.node-input__handle {
  width: calc(var(--u) * 3);
  height: calc(var(--u) * 3);

  background-color: var(--color-grey);
}

.node-input__handle-name {
  font-size: 12px;
}
